<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teacher Attenance</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/permissions.css">
</head>
<body>
   <%- include('_header.ejs')  %>
  <h2 class="main.h">Teacher Attendance</h2>
  <div class="flex">
    <div class="all-p">
      <table>
        <tr>
          <th>TSC NO</th>
          <th>Name</th>
          <th>TIME </th>
          <th>Type</th>
        </tr>
        <%Permissions.forEach(perm=>{ %>
          <tr>
            <td><%= perm.tsc_no %></td>
            <td><%= perm.full_mame %></td>
            <td><%= perm.time_stamp %></td>
            <td><%= perm.type %></td>
          </tr>
          <% }) %>
      </table>
    </div>
    <div class="new-p">
      <form action="/teacherAttendance" method="post">
        <label for="tsc">TSC NO</label>
        <select name="tsc" id="tsc">
          <option value="">--Choose tsc no</option>
          <%Numbers.forEach(num=>{ %>
            <option value="<%=num.tsc_no %>"><%=num.full_mame %></option>
            <% }) %>
        </select>
        <label for="time">Date & time</label>
        <input type="datetime-local"name="time" id="time">

        <label for="type">TYPE</label>
        <input type="text"name="type" id="type">
        <input type="submit" value="Update attenance">
      </form>
    </div>
  </div>
</body>
</html>