<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <%- include("_header.ejs")%>
  <h1>Home Page</h1>
  <div class="container">
  <div class="present">
    <p class="teacher">Teachers  </p>
    <!-- <p class="student"> <%=//numberOfStudents %>  Students </p>
    <p class="student"><%=//presentStudents %> Present Students</p> -->
  </div>
  <div class="absentees">
    <p class="teacher"> 2 teachers present</p>
    <p class="student"> 50 Students present</p>
  </div>
  </div>
  <!-- 7 teachers present -->
  <!-- 20 students absent -->

  <!-- section absentees -- student and teachers -->

  <!-- other pages -->
  <!-- attendance page -->
  <!-- permissions page -->

  <h2>Teacher Attendance</h2>
  <table>
    <tr>
      <th>Teacher Name</th>
      <th>Phone</th>
      <th>Role</th>
    </tr>
    <% teachers.forEach(t => {%>
      
      <tr>
        <td><%= t.full_mame %></td>
        <td><%= t.phone %></td>
        <td><%= t.role %></td>
      </tr>
    <% }); %>
  </table>

  <h2>Student Attendance</h2>
  <table>
    <tr>
      <th>Reg No</th>
      <th>Student Name</th>
      <th>class</th>
    </tr>
    <% for(let index = 0; index<students.length;index++) {%>
      <tr>
        <td><%=students[index].reg_no %></td>
        <td><%=students[index].fullname %></td>
        <td><%=students[index].class %></td>
      </tr>
      <% } %>
  </table>
</body>
</html>