<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SAMS</title>
  <link rel="icon" type="image/png" href="/public/images/icons8-school-16.png">
  
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include("_header.ejs")%>
  <div class="container">
  <h1>Home Page</h1>
  <% if(locals.user){%>
    <h2>Welcome <%= user.full_mame  %></h2>
    <% }else{ %>
      <h2>Welcome to SAMS</h2>
      <% } %>
  
  <div class="container_content">
  <div class="teacher">
  <h2>Teacher Attendance</h2>
  <table>
    <tr>
      <th>Teacher Name</th>
      <th>Phone</th>
      <th>Role</th>
      <% if( locals.user?.role==="principal"){ %>
      <th>Actions</th>
      <% } %>
    </tr>
    <% teachers.forEach(t => {%>
      
      <tr>
        <td><%= t.full_mame %></td>
        <td><%= t.phone %></td>
        <td><%= t.role %></td>

        <% if( locals.user?.role==="principal"){ %>
        <td > <a href="/delete/<%= t.tsc_no%>">Delete</a></td>
        <% } %>
      </tr>
    <% }); %>
  </table>
  </div>
  <div class="student">
  <h2>Student Attendance</h2>
  <table>
    <tr>
      <th>Reg No</th>
      <th>Student Name</th>
      <th>class</th>
    </tr>
    <% for(let index = 0; index<students.length;index++) {%>
      <tr>
        <td><%=students[index].reg_no %></td>
        <td><%=students[index].fullname %></td>
        <td><%=students[index].class %></td>
      </tr>
      <% } %>
  </table>
  </div>
  </div>
  </div>
</body>
</html>