<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Permission</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/permissions.css">
</head>
<body>
   <%- include('_header.ejs')  %>
  <h2 class="main.h">Student Permissions</h2>
  <div class="flex">
    <div class="all-p">
      <table>
        <tr>
          <th>Reg No</th>
          <th>Name</th>
          <th>Reason</th>
          <th>Time Out</th>
          <th>Expected Time In</th>
        </tr>
        <%permissions.forEach(perm=>{ %>
          <tr>
            <td><%= perm.reg_no %></td>
            <td><%= perm.fullname %></td>
            <td><%= perm.reason %></td>
            <td><%= perm.time_out %></td>
            <td><%= perm.exp_tme_in %></td>
          </tr>
          <% }) %>
      </table>
    </div>
    <div class="new-p">
      <form action="/studentpermission" method="post">
        <label for="tsc">REG NO</label>
        <select name="reg" id="reg">
          <option value="">--Choose reg no</option>
          <%numbers.forEach(num=>{ %>
            <option value="<%=num.reg_no %>"><%=num.fullname %></option>
            <% }) %>
        </select>
        <label for="reason">Reason</label>
        <textarea name="reason" id="reason" cols="30" rows="10"></textarea>

        <label for="timeout">Date & timeout</label>
        <input type="datetime-local"name="timeout" id="timeout">

        <label for="timein">Date & timein</label>
        <input type="datetime-local"name="timein" id="timein">
        <input type="submit" value="Add Permission">
      </form>
    </div>
  </div>
</body>
</html>